.dropdown-menu a {
    display: block;
    margin: 3px;
}

.dropdown {
    position: absolute;
    right: 180px;
}

.dropdown-menu.show {
    min-width: 50px;
}

#ap-image {
    width: 45px;
    height: 40px;
}

