body {
  margin: 0;
  background: LIGHTCYAN;
}

#submit-registration-button{
    text-align: center;
}

#submit-login-button{
    text-align: center;
}

#ap-edit-btn, #ap-delete-btn {
    display: none;
}

div .form-group ul {
    display: none;
}

.card-content {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;

}

.card-content-text {
  width: 40%;
  border: 2px solid green;
}

.card-content-text h1 {
  padding: 0;
}

.card-content-carousel {
  width: 40%;
  height: 50%;
  margin: 0;
}

.wine-card {
    flex-direction: row;
    display: inline-block;
    width: 18rem;
    min-height: 20rem;
    margin: 1rem 1rem 1rem 1rem;
}

.my-bar {
    padding-bottom: 2rem;
}