body {
  margin: 0;
  background: LIGHTCYAN;
}

#submit-registration-button{
    text-align: center;
}

#submit-login-button{
    text-align: center;
}

#ap-edit-btn, #ap-delete-btn {
    display: none;
}

div .form-group ul {
    display: none;
}

.card-content {
  display: inline-flex;
  width: 100%;
  flex-wrap: nowrap;
}

.card-content-text {
  width: 40%;
  border: 2px solid green;
  margin: 0 1rem 0 10rem;
  position: relative;
}

.card-content-text h1 {
  padding: 0;
}

.card-content-carousel {
  width: 40%;
  height: 50%;
  margin: 0;
  margin: 0 5rem 0 2rem;
}

.wine-card {
    flex-direction: row;
    display: inline-block;
    width: 18rem;
    min-height: 20rem;
    margin: 1rem 1rem 1rem 1rem;
    border-color: black;
    vertical-align: bottom;
}

.my-bar {
    padding-bottom: 2rem;
}

.log-out-box {
    padding-top: 20rem;
}

.optional-buttons-card {
    margin-bottom: 0.5rem;
    position: absolute;
    bottom: 0;
    margin-left: 38%;
}

.cards-list-optional-btn {
    margin-bottom: 1rem;
    position: absolute;
    bottom: 0;
}

.card-delete-box {
    padding-top: 20rem;
}

.cards-wrapper {
    margin-left: 6.5rem;
    padding-top: 1rem;
}

.cards-list-text {
    padding-top: 1rem;
}

.card-create-form {
    margin-left: 35%;
    border: groove 2px black;
    border-radius: .5rem;
    padding: 1rem;
}

.card-create-form-field {

    border: outset 2px grey;
}