{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <form class="form-inline">
            <a class="btn btn-success mr-3" href="{% url 'start_page_url' %}" role="button">To main</a>
            <a class="btn btn-success mr-3" href="{% url 'cards_list_url' %}" role="button">Planets</a>
            <a class="btn btn-success mr-3" href="{% url 'card_create_url' %}" role="button">Create Planet</a>

        </form>
    </nav>

    {% block content %}

    {% endblock %}

    <div class="admin-panel align-items-center">
        <a href="/admin" class="btn btn-info">Admin</a>
        {% block admin-panel%}{% endblock %}

    </div>

</body>
</html>
