{% extends 'flyfe/base_flyfe.html' %}

{% block title %}
    Card Create - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'card_create_url' %}" method="post">
        {% csrf_token %}
        <div class="d-flex flex-column w-25 card-create-form">

            <h4><span class="badge bg-info text-dark" style="float: right; margin: .5rem 0 .05rem 0;">{{ form.title.label }}</span></h4>
            {{ form.title }}

            <h4><span class="badge bg-info text-dark" style="float: right; margin: 1rem 0 .05rem 0;">{{ form.grape.label }}</span></h4>
            {{ form.grape }}

            <h4><span class="badge bg-info text-dark" style="float: right; margin: 1rem 0 .05rem 0;">{{ form.type.label }}</span></h4>
            {{ form.type }}

            <h4><span class="badge bg-info text-dark" style="float: right; margin: 1rem 0 .05rem 0;">{{ form.place.label }}</span></h4>
            {{ form.place }}

            <h4><span class="badge bg-info text-dark" style="float: right; margin: 1rem 0 .05rem 0;">{{ form.year.label }}</span></h4>
            {{ form.year }}

            <h4><span class="badge bg-info text-dark" style="float: right; margin: 1rem 0 .05rem 0;">{{ form.body.label }}</span></h4>
            {{ form.body }}
            {{ form.slug }}
            {{ form.author }}
            <button type="submit" class="btn btn-success" style="margin-top: 1rem">Создать</button>
        </div>

    </form>
{% endblock %}
