{% extends 'flyfe/base_flyfe.html' %}
{% load static %}
{% block title %}
    Title
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Go!</h1>
        <p class="lead">Hello cosmonaut</p>
        <hr class="my-4">
        <p>This mechanism teleport you on one of the solarsystem planet. Don`t  feel shy use all buttons, like at cosmic ship.</p>
        <a class="btn btn-success btn-lg" id="main-button-start_page" href="{% url 'random_card_url' %}" role="button">Let's fly</a>
        <a class="btn btn-primary" style="position: absolute; right: 115px"
           id="improve-button-start_page"
           href="https://solarsystem.nasa.gov/"
           role="button">Improve your knowledge</a>
    </div>

{% endblock %}
