{% extends 'flyfe/base_flyfe.html' %}
{% load static %}
{% block title %}
    Title
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Hey {{ user.username }}!</h1>
        <hr class="my-4">
        <p>In this site you can see a couple of wine</p>
        <a class="btn btn-success btn-lg" id="main-button-start_page"
           href="{% url 'random_card_url' %}" role="button">Let's fly</a>
        <a class="btn btn-primary" style="position: absolute; right: 115px"
           id="improve-button-start_page"
           href="https://solarsystem.nasa.gov/"
           role="button">Improve your knowledge</a>
    </div>

{% endblock %}
